@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}

<html>
<body>
    <div style="margin:100px auto auto auto ;">
        <h6 style="margin:100px auto auto auto; font-size:20px;color:red;"></h6>
    </div>
</body>
</html>

