
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<html>
<body>
    <div id="wrapper">
        <section class="visual">
            <div class="container">
                <div class="text-block">
                    <div class="heading-holder">
                        <h1>Design your sports</h1>
                    </div>
                    <p class="tagline">一  个  更  幸  福  ， 更  健  康  的  生  活  在  等  着  你</p>
                    <span class="info">· 立 即 获 得 动 力 ·</span>
                </div>
            </div>
            <img src="~/Content/images/img-bg-01.jpg" alt="" class="bg-stretch">
        </section>
        <section class="main">
            <div class="container">
                <div id="cta">
                    <a href="javascript:" class="btn btn-primary rounded">智能推荐健身计划</a>
                </div>
                <div class="row">
                    <div class="text-box col-md-offset-1 col-md-10">
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.main.js"></script>
</body>
</html>

